#menu.col-md-4
  .content
    h2
      | Projects:
      link-to#new-element 'projects.new' | New Project

    .container-fluid
      each project in controller
        button.btn.btn-default.btn-block
          html: <p> {{project.title}} | <small> {{project.description}}</small></p>
= outlet
