#projects.col-md-8
  .content
    h2 New Project

    form role='form'
      .form-group
        label Title:
        view Ember.TextField value=fields.title placeholder="Enter title" class='form-control'

      .form-group
        label Description:
        view Ember.TextField value=fields.description placeholder="Enter description" class='form-control'

      .actions
        button.btn.btn-default type='submit' value='Create Project' click="createProject" Create
