<!DOCTYPE html>
<html>
<head>
  <title>Workdesk</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<div id="ember-app"></div>

</body>
</html>
